.coming-soon-container {
    padding-left: 10px;
    padding-right: 10px;
}

.coming-soon-header {
    text-decoration: underline;
    margin: 10px;
    width: 100%;
    text-align: left;
}

.coming-soon-movie-card {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #26305f;
    padding: 10px;
    display: flex;
    text-align: left;
}

.coming-soon-movie-details {
    padding-left: 10px;
}

.movie-list {
    display: flex;
    flex-direction: column;

}

.coming-soon-poster {
    width: calc(30% - 20px);
}